	
					 
            body{
				/*
				background: #000000; 
				*/
				-moz-transform: scale(1.50, 1.50);
                zoom: 1.50;
                zoom: 150%;
                font-family:tahoma;
            }
			
            #scoreBoardDiv {
                position:absolute;
                bottom:5px;
                width:90%;
                left:5%;
                padding:5px;
             
            }
    
            td {
                border:2px solid black;
                border-radius:10px;
                vertical-align: middle;

            }
			
            #scoreBoard{
                width: 95%;
                margin:auto;
            }
			
            #player1Score, #player2Score{
                text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
                text-align:center;
                width:9%;
                padding-right:1px;
                padding-left:1px;
                background: rgba(255,255,255,1);;
                font-size:15pt;
                font-weight:bold;
                vertical-align: middle
                text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
                }
				
           .noShow{
                visibility:hidden;
            }
			
            #player1Name, #player2Name, #shotClock {
                background: rgba(255,255,255,1);
                font-size:10pt;
                font-weight:bold;                
                text-align: center;
                vertical-align: middle
            }
            #player1Name, #player2Name {
                width:250px;

            }
            #player1Name {
                 background-image: linear-gradient(to left, white , steelblue);
				 text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;

            }
            #player2Name {
                 background-image: linear-gradient(to right, white , steelblue);
				 text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;

            }            
            #p1ExtIcon{
                position:absolute;
                left:36.5px;
                top:32px;
                background:green;
                border: solid 1px #000;
                border-radius:9px 0px 0px 9px;
                color:#fff;
                font-size:8.75pt;
                padding:5.55px;
            }
            #p2ExtIcon {
                position:absolute;
                right:36.5px;
                top:32px;
                background:green;
                border: solid 1px #000;
                border-radius:0px 9px 9px 0px;
                color:#fff;
                font-size:8.75pt;
                padding:5.55px;
                
            }
                       
            .greenBtn {
                background:green;
                color:white;
            }
            .redBtn {
                background:red;
                color:white;
            }
            .shotRed {
                color:white;
            }
            .fadeInElm {
                visibility: visible;
                opacity: 1;
                transition: opacity 1s linear;
            }
            .fadeOutElm {
                visibility: hidden;
                opacity: 0;
                transition: visibility 0s 1s, opacity 1s linear;
            }
			
            /* blink code */
			
            @keyframes blinking {
				0% {
				background-color: #ffffff;
				}
				100% {
				background-color: lightgreen;
				}
            }
            .winBlink {
                animation: blinking .10s 4;
			}
			
			
			 @keyframes extblinking {
				0% {
				background-color: green;
				}
				100% {
				background-color: red;
				}
            }
            .extBlink {
                animation: extblinking .15s 3;
			}
			
			
			
              /* end of blink code */
            
            #salottoLogo {
                position:absolute;
                top: 35.5px;
                right: 690px;
                z-index:9;
            }
			 #g4Logo {
                position:absolute;
                top: 35.5px;
                left: 690px;
                z-index:9;
            }
           #player1Image {
               position:absolute;
               top:8px;
               z-index:9;
               left:60px;
               width:50px;
               height:50px;
            }
            #player2Image {
               position:absolute;
               top:8px;
               z-index:9;
               right:60px;
               width:50px;
               height:50px;
            }
            #raceInfo {
                background-image: linear-gradient(to right, grey, white);
				position:fixed;
				bottom:1px;
				width:20%;
				left:110px;
				border-radius: 0px 00px 10px 10px;
				text-align:center;
				font-size:7pt;
				font-weight:bolder;
				border:1px solid #000;
				z-index:-1;
			}
			#wagerInfo {
                background-image: linear-gradient(to left, grey, white);
				position:fixed;
				bottom:1px;
				width:20%;
				right:100px;
				border-radius: 0px 00px 10px 10px;
				text-align:center;
				font-size:7pt;
				font-weight:bolder;
				border:1px solid #000;
				z-index:-1;
			}
			
			.shotclockvis {
				position:absolute;
				width: 90%;
				left:5%;
				bottom:36px;
				height: 3px;
				background: ;
				border-radius:5px;
 
			}

			.startTimer {
				width: 0px;
				transition: width 30s;
				transition-timing-function: linear;
			}
			.start60 {
				width: 0px;
				transition-property: width;
				transition-duration: 60s;
				transition-timing-function: linear;
			}
			
			.mySlides {
			position:fixed;
			display: none;
			bottom: 14px;
            left: 754px;
			}


			/* Slideshow container */
			.slideshow-container {
			position: relative;
			margin: auto;
			}


			/* Fading animation */
			.fade {
			animation-name: fade;
			animation-duration: 1.5s;
			}

			@keyframes fade {
			from {opacity: .4} 
			to {opacity: 1}
			}

 			.logoSlide {
			display:none;
			}
			