
table {
	border: 0px solid #000;
}
td{
	border: 2px solid #000;
	border-radius:5px;
	text-align:center;
	vertical-align:middle;
}
.noShow{
	visibility:hidden;
}
 #player1Name {
	background-image: linear-gradient(to left, white , steelblue);
	text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}
#player2Name {
	background-image: linear-gradient(to right, white , steelblue);
	text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;

}            
#p1ExtIcon{
	position:absolute;
	left:575.5px;
top:30px;
	background:green;
	border: solid 1px #000;
	border-radius:4px 0px 0px 5px;
	color:#fff;
	font-size:8.5pt;
	padding:4px;
}
#p2ExtIcon {
	position:absolute;
	right:575px;
	top:30px;
	background:green;
	border: solid 1px #000;
	border-radius:0px 4px 4px 0px;
	color:#fff;
	font-size:8.5pt;
	padding:4.0px;
	
}
	
.greenBtn {
	background:green;
	color:white;
}
.redBtn {
	background:red;
	color:white;
}
.shotRed {
	color:white;
}
.fadeInElm {
	visibility: visible;
	opacity: 1;
	transition: opacity 1s linear;
}
.fadeOutElm {
	visibility: hidden;
	opacity: 0;
	transition: visibility 0s 1s, opacity 1s linear;
}


/* blink code */

@keyframes blinking {
0% {
background-color: #ffffff;
}
100% {
background-color: lightgreen;
}
}
.winBlink {
animation: blinking .10s 4;
}


@keyframes extblinking {
0% {
background-color: green;
}
100% {
background-color: red;
}
}
.extBlink {
animation: extblinking .15s 3;
}
/* end of blink code */

#raceInfo {
	background-image: linear-gradient(to right, grey, white);
	position:fixed;
	bottom:1px;
	width:250px;
	left:673px;
	border-radius: 0px 00px 10px 10px;
	text-align:center;
	font-size:7pt;
	font-weight:bolder;
	border:1px solid #000;
	z-index:-1;
}
#wagerInfo {
	background-image: linear-gradient(to left, grey, white);
	position:fixed;
	bottom:1px;
	width:250px;
	right:672px;
	border-radius: 0px 00px 10px 10px;
	text-align:center;
	font-size:7pt;
	font-weight:bolder;
	border:1px solid #000;
	z-index:-1;
}