	.blue28 {
		background: maroon;
		border:0px;
		}
	.obs28 {
		background: #162458;
		border:0px;
		color:lightgrey;
		}
	#swapBtn {
		cursor:pointer;
		position:relative;
		border: 1px solid #3345a3;
		padding-bottom:2px;
		width:10%;
		min-width:30px;
		min-height:15px;
		font-size:7pt;
	}
	#mainDiv {
		background: #181819;
		}
	
	hr {
		border-bottom:0px;
		border-top: 1px solid #3345a3;
		border-left: 0px;
		border-right: 0px;
		
		}
	
	.hover {
	}
	.hover:hover {
		background:#2a3a75;
	}
	
	.clkd {
		color: dimgrey;
	}
	.themeSizeLabels{
		color:lightgrey;
	}
	
	
	
	
	
	
	
	
	
	
		
		
		
		
