	.blue28 {
		background: #3345a3;
		border:0px;
		}
	.obs28 {
		background: #f3f3f3;
		color: #000;
		border:0px;
		}
	#swapBtn {
		cursor:pointer;
		position:relative;
		border: 1px solid steelblue;
		padding-bottom:2px;
		width:10%;
		min-width:30px;
		min-height:15px;
		font-size:7pt;
	}
	#mainDiv {
		background: #e5e5e5;
		}
	
	hr {
		border-bottom:0px;
		border-top: 1px solid steelblue;
		border-left: 0px;
		border-right: 0px;
		
		}
	
	.hover {
	}
	.hover:hover {
		background:#fefeff;
	}
	
	
	
	
	
	
	
	
	
		
		
		
		
